# Python
__pycache__/
*.pyc
.env
*.pyc
*.pyo
*.pyd

# Packaging
*.egg-info/
dist/
build/

# Node
node_modules/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# AWS credentials
*.pem
*.key
*.env
aws_access_keys*
credentials

*.html
